.comment-card {
  margin: 10px 0;
  padding: 40px;
}

.text-input {
  width: 100%;
}

.rating {
  margin-right: 16px;
  background-color: transparent;
  border-color: transparent;
}

.rating:hover {
  color: #E91E63;
  cursor: pointer;
}

.button-not-selected {
  color: black;
  opacity: 50%;
}

.button-selected {
  color: #E91E63;
}

.author-button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-input {
  margin-top: 25px;
  width: 40%;
}

.dark {
  background-color: #121212;
  color: white;
}

.dark .button-not-selected {
  color: white;
  opacity: 50%;
}

.dark .button-not-selected:hover {
  color: #E91E63;
}

.dark .text-input {
  background-color: white;
  color: #121212;
}

.dark .author-input {
  background-color: white;
  color: #121212;
}
