.form-wrapper {
  margin: 20px 0;
}

.form-button-wrapper {
  display: flex;
  justify-content: space-between;
}

.unit-quantity-name-wrapper {
  display: flex;
  justify-content: space-between;
  width: 87%;
}

.unit {
  width: 20%;
  margin-bottom: -10px;
}

.quantity {
  width: 20%;
  margin-bottom: -10px;
}

.name {
  width: 55%;
  margin-bottom: -10px;
}

.buttons-wrapper{
  width: 13%;
  text-align: right;
}

.buttons-wrapper button {
  margin: 6px 5% 0 5%;
}
