.header-toolbar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  background-color: #273550;
  padding: 0;
}

.title a {
  color: #FFB500;
  text-decoration: none;
}

.title a:hover {
  color: #FFDA13;
  text-decoration: none;
}

.title a:visited {
  color: #FFB500;
  text-decoration: none;
}

.title a:visited:hover {
  color: #FFDA13;
  text-decoration: none;
}

.header-container {
  width: 100vw;
  background-color: #273550;
}

.search-form {
  width: 60%;
  height: 80%;
}

.search-field {
  width: 100%;
  font-size: 0.8rem;
  margin: 0;
}

.menu-icon {
  color: #FFB500;
}

.search-icon {
  color: #FFB500;
}

::placeholder {
  color: white;
}
