<header class="header-container">
  <mat-toolbar color="primary" class="header-toolbar">

    <span class="title"><a href="">NAME MY PAGE</a></span>

    <form class="search-form">
      <mat-form-field appearance="fill" class="search-field">
        <mat-label>Search a recipe</mat-label>
        <input matInput placeholder="Ex. Pizza" value="">
      </mat-form-field>
      <button mat-button color="accent">
        <mat-icon class="search-icon">search</mat-icon>
      </button>
    </form>

    <button mat-button [matMenuTriggerFor]="beforeMenu">
      <mat-icon class="menu-icon">menu</mat-icon>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
      <button mat-menu-item><a routerLink="/create">Create</a></button>
    </mat-menu>

  </mat-toolbar>
</header>


