<footer class="footer-container">

  <mat-toolbar color="primary" class="footer">

    <mat-toolbar-row>
      <mat-nav-list role="list" class="footer-list">
        <mat-list-item role="listitem"><a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i>
        </a></mat-list-item>
        <mat-list-item role="listitem"><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        </mat-list-item>
        <mat-list-item role="listitem"><a
          href="https://accounts.snapchat.com/"><i
          class="fab fa-snapchat-square"></i></a></mat-list-item>
        <mat-list-item role="listitem"><a href="https://www.pinterest.de/"><i class="fab fa-pinterest-square"></i></a>
        </mat-list-item>
      </mat-nav-list>
    </mat-toolbar-row>

    <mat-toolbar-row class="second-row">
      <span class="authors">Designed and Coded by <a href="">Dantong</a> and <a
        href="https://www.linkedin.com/in/victorbicego/">Victor</a>.
        This is the final project from our Bootcamp at <a href="https://yougrow-group.de/">YouGrow Academy</a>.
      </span>
    </mat-toolbar-row>
  </mat-toolbar>

</footer>
