.top-recipes-wrapper {
  margin: 40px 0;
}

.recipe-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 0;
  align-items: center;
}

.image-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.image-button-container button {
  background-color: transparent;
  border-color: transparent;
  height: 50px;
  color: #E91E63;
}

.image-button-container button:hover {
  cursor: pointer;
}

.image {
  border-radius: 8px;
  width: 90%;
  height: 45vh;
  object-fit: cover;
  margin-bottom: 30px;
}

.image:hover {
  cursor: pointer;
}

.name:hover {
  cursor: pointer;
}

.comment {
  width: 90%;
}
