.single-recipe-wrapper {
  padding: 90px 1% 0 1%;
  margin-bottom: 60px;
}

.recipe-card {
  padding: 20px;
}

.image-ingredients-wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
}

.image-info-wrapper{
  width: 55%;
  min-height: 100%;
  margin-right: 40px;
}

.instruction-wrapper {
  margin: 30px 0 20px 0;
}

.instruction-title{
  font-size: 18px;
}

.instruction-text {
  font-size: 16px;
  text-align: justify;
  color: gray;
}

.author {
  margin: 30px 0 12px;
  font-size: 14px;
  color: darkgrey;
}
