.ingredient-wrapper {
  width: 100%;
  height: 100%;
  padding: 0 0 20% 0;
  margin: 0;
}

.ingredient-title {
  font-size: 18px;
}

.name{
  font-size: 16px;
  color: gray;
  margin-left: -15px;
}

.dark {
  background-color: #121212;
  color: white;
}

