.single-recipe-wrapper {
  padding: 0 15%;
  margin-bottom: 60px;
}

.recipe-card {
  padding: 40px;
}

.title-interaction-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title-wrapper{
  width: 65%;
}

.interaction-wrapper {
  width: 35%;
}

.image-ingredients-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 30px 0;
}

.image-info-wrapper{
  width: 60%;
  min-height: 100%;
  margin-right: 50px;
}

.instruction-wrapper {
  margin: 35px 0 25px 0;
}

.instruction-text{
  font-size: 18px;
}

.instruction-text {
  font-size: 16px;
  text-align: justify;
  color: gray;
}

.author-button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.author {
  font-size: 14px;
  margin-bottom: 0;
  color: darkgrey;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.button-wrapper button {
  margin-left: 20px;
}

.dark{
  background-color: #121212;
  color: white;
}
