.filter-wrapper{
  /*padding: 25px;*/
  margin-bottom: 40px;
}

.filter-title{
  font-size: 20px;
  margin-bottom: 25px;
}

.filter-container{
  width: 100%;
  margin: 0;
}

.filter-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.category{
  width: 30%;
}

.difficulty{
  width: 30%;
}

.cuisine{
  width: 30%;
}

.slider-wrapper{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 30%;
}

.button-wrapper{
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.apply-button{
  width: 45%;
  height: 40px;
}
