.recipe-image {
  border-radius: 8px;
  width: 100%;
  min-height: 90%;
  object-fit: cover;
}

.info-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.info {
  width: auto;
  font-size: 15px;
}

.info i {
  margin-right: 10px;
}

.dark {
  background-color: #121212;
  color: white;
}
