<mat-toolbar class="footer">

  <mat-toolbar-row>

    <mat-nav-list role="list" class="footer-list">
      <button><a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a></button>
      <button><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></button>
      <button><a href="https://accounts.snapchat.com/"><i class="fab fa-snapchat-square"></i></a></button>
      <button><a href="https://www.pinterest.de/"><i class="fab fa-pinterest-square"></i></a></button>
    </mat-nav-list>

  </mat-toolbar-row>

  <mat-toolbar-row class="authors-wrapper">

    <p class="authors">Designed and Coded by <a href="">Dantong</a> and <a href="https://www.linkedin.com/in/victorbicego/">Victor</a>.
      This is the final project from our Bootcamp at <a href="https://yougrow-group.de/">YouGrow Academy</a>.
    </p>

  </mat-toolbar-row>

</mat-toolbar>
