<div class="form-container">

  <mat-card class="create-form">

    <div class="title">
      <p>
        Enter the new recipe information.
      </p>
    </div>

    <form [formGroup]="recipeCreateFormGroup" class="my-form">

      <mat-form-field class="name" appearance="fill">
        <mat-label>Recipe's name</mat-label>
        <input type="text" matInput placeholder="Ex. Pizza" formControlName="name">
      </mat-form-field>

      <mat-form-field class="author" appearance="fill">
        <mat-label>Recipe's author</mat-label>
        <input type="text" matInput placeholder="Ex. Toni Stark" formControlName="author">
      </mat-form-field>

      <div formArrayName="ingredientList" class="ingredients-container">
        <div *ngFor="let _ of ingredients.controls; index as i" class="ingredients">
          <form [formGroupName]="i" class="form-ingredient">
            <mat-form-field class="unit" appearance="fill">
              <mat-label>Unity</mat-label>
              <mat-select formControlName="unit">
                <mat-option *ngFor="let option of unities" [value]="option.toUpperCase()">{{option}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="quantity" appearance="fill">
              <mat-label>Quantity</mat-label>
              <input type="number" matInput placeholder="Ex. 200" formControlName="amount">
            </mat-form-field>

            <mat-form-field class="ingredientName" appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Ex. Cheese" formControlName="name">
            </mat-form-field>
          </form>
          <button class="remove" (click)="removeIngredient(i)" [disabled]="ingredients.length==1">Remove choice</button>
        </div>
      </div>
      <button (click)="addIngredient()" [disabled]="!ingredients.valid">Add another ingredient</button>


      <mat-form-field class="instructions" appearance="fill">
        <mat-label>Recipe's instructions</mat-label>
        <textarea type="text" matInput placeholder="Ex. First cut the tomatoes..."
                  formControlName="instruction"></textarea>
      </mat-form-field>

      <mat-form-field class="difficulty" appearance="fill">
        <mat-label>Difficulty</mat-label>
        <mat-select formControlName="difficultyGrade">
          <mat-option *ngFor="let difficulty of difficulties"
                      [value]="difficulty.toUpperCase()">{{difficulty}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="category" appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of categories" [value]="category.toUpperCase()">{{category}}</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field class="cuisine" appearance="fill">
        <mat-label>Cuisine</mat-label>


        <mat-select formControlName="cuisine">
          <mat-optgroup *ngFor="let singleObject of cuisines$|async" [label]="singleObject.continent">
            <mat-option *ngFor="let country of singleObject.countries"
                        [value]={continent:singleObject.continent,country:country.country,id:country.id}>{{country.country}}</mat-option>
          </mat-optgroup>
        </mat-select>


      </mat-form-field>


      <mat-form-field class="time" appearance="fill">
        <mat-label>Recipe's preparation time (minutes)</mat-label>
        <input type="number" matInput placeholder="Ex. 120" formControlName="preparationTime">
      </mat-form-field>

      <mat-form-field class="portion" appearance="fill">
        <mat-label>Recipe's portions</mat-label>
        <input type="number" matInput placeholder="Ex. 2" formControlName="portion">
      </mat-form-field>

      <mat-form-field class="hashtag" appearance="fill">
        <mat-label>Hashtags</mat-label>
        <mat-chip-list aria-label="Hashtags" multiple selectable>

          <mat-chip [selected]="editRecipe?.hashTagList?.includes(hashtag)"
                    *ngFor="let hashtag of hashtags$|async" [value]="hashtag"
                    (click)="toggleSelection(chip)"
                    #chip="matChip">
            #{{hashtag.text}}
          </mat-chip>

        </mat-chip-list>
      </mat-form-field>


    </form>

    <button class="save" mat-raised-button color="primary" (click)="openDialog()"
            [disabled]="!recipeCreateFormGroup.valid">Save recipe
    </button>

  </mat-card>
</div>

<div></div>
