.recipe-wrapper {
  display: flex;
  padding: 40px;
  margin: 50px 0;
}

.recipe-wrapper:hover {
  cursor: pointer;
}

.recipe-wrapper:hover .recipe-title {
  color: #E91E63;
}

.recipe-image {
  width: 40%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 30px;
}

.infos-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-subtitle-wrapper {
  display: flex;
  flex-direction: column;
}

.recipe-title{
  margin-left: -16px;
}

.subtitle-wrapper{
  margin-left: -16px;
}

.subtitle {
  margin-right: 15px;
}

.hashtags {
  margin-left: 15px;
}

.list-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.info {
  width: auto;
  font-size: 15px;
  text-wrap: none;
}

.info i {
  margin-right: 10px;
}

.author {
  width: 100%;
  text-align: right;
  font-size: 12px;
  margin-bottom: 0;
  color: darkgrey;
}
