.name-category-cuisine-wrapper {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  width: 45%;
}

.category {
  width: 25%;
}

.cuisine {
  width: 25%;
}
